tqdm
numpy==1.26.4
pandas
matplotlib
opencv-python==4.10.0.84
scikit-learn
scipy
prettytable
psutil
natsort
hdf5plugin

timm
kornia
einops
lightning
fast-pytorch-kmeans
xformers==0.0.35

# geospatial libraries
geopandas
shapely
pytransform3d
rasterio

# pretrained backbones
transformers==4.57.3

--extra-index-url https://download.pytorch.org/whl/cu130
torch==2.10.0
torchmetrics==1.8.2
torchvision==0.25.0

wandb
huggingface_hub
