tqdm
numpy==1.26.4
pandas
matplotlib
opencv-python<=4.10.0
scikit-learn
scipy
prettytable
psutil
natsort
hdf5plugin

timm
kornia
einops
lightning
fast-pytorch-kmeans
xformers @ https://pypi.jetson-ai-lab.io/jp6/cu126/+f/0a3/cd506d8b3ca50/xformers-0.0.32+8ed0992.d20250724-cp39-abi3-linux_aarch64.whl

# geospatial libraries
geopandas
shapely
## pytransform3d
rasterio

# pretrained backbones
transformers==4.57.3

# for jetson-ai-lab wheels
torch @ https://pypi.jetson-ai-lab.io/jp6/cu126/+f/02f/de421eabbf626/torch-2.9.1-cp310-cp310-linux_aarch64.whl
torchvision @ https://pypi.jetson-ai-lab.io/jp6/cu126/+f/d5b/caaf709f11750/torchvision-0.24.1-cp310-cp310-linux_aarch64.whl
torchmetrics==1.8.2

wandb
huggingface_hub